
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-size: 62.5%;
}


#wrapper {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

#main {
  font-size: 2rem;
  text-align: center;
}

#header {
  text-align: center;
  font-size: 4rem;
  margin: 20px;
}

#logo {
  width: 10rem;
  float: right;
  padding: 10px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#right {
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  margin-left: 5vh;
}

a.login-btn {
  margin: 2vh auto;
  text-align: center;
  text-decoration: none;
  padding: 2vh 2vh;
  background-color: #1ed760;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  width: 90%;
  display: block;
  border: transparent solid;
}

/*a.login-btn:hover {
  text-decoration: none;
  color: #25703f;
  background-color:rgb(203, 236, 207);
  border: #25703f solid;
}
*/
.btn {
  margin: 2vh auto;
  text-align: center;
  text-decoration: none;
  padding: 2vh 2vh;
  background-color: #22cc5b;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  width: 90%;
  display: block;
  border: transparent solid;
}

#share {
  background-color:rgb(0, 8, 255);
  width: 70%;
}

#watermark {
  text-align: left;
  color: rgb(149, 147, 147);
  font-size: 1.3rem;
  margin-bottom: 50px;
}


.btn:disabled{
  text-decoration: none;
  color: #578e68;
  background-color:#77c490;
  border: transparent solid;
}

.grid-item{
    width: 150px;
    height: 150px;
    padding: 10px;
  }

.flex-container{
    display: flex;
    width: 340px;
    height: 340px;
    flex-wrap: wrap;
    background-image: url("axis-centered.png");
    background-size: contain;
    margin: auto;
  }


#time-range {
  width: 90%;
  padding: 1.5vh 1.5vh;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  font-size: 1.6rem;
}

.right-item {
  padding: 10px;
  justify-content: center;
}

.line hr{
  width: 40%;
  color: rgb(144, 133, 133);
}

#footer {
  font-size: 1.3rem;
  text-align: center;
  color: black;
}

@media only screen and (min-width: 768px) {
  .flex-container {
    width: 500px;
    height: 500px;
  }

  .grid-item {
    width: 230px;
    height: 230px;

  }

  #logo {
    right: 0;
    position: absolute;
    margin-right: 30px;
    width: 15rem;
  }

  #header {
    font-size: 5rem;
  }
}
