  .grid-item{
    width: 230px;
    height: 230px;
    padding: 10px;
  }

  .flex-container{
    display: flex;
    max-height: 500px;
    max-width: 500px;
    flex-wrap: wrap;
    background-image: url("axis-centered.png");
    background-size: contain;
  }


  #loggedin{
    visibility: 'hidden';
  }

